<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03-vue-instance-property</title>
</head>
<body>
<div id="app">
    <!--<input type="text" v-model="salary"><p>{{calculateTax}}</p>-->
    <!--<p v-text="calculateTax"></p>-->
    <input type="text" v-model="salary"><p>{{calculateTax()}}</p>
    <p v-text="calculateTax()"></p>
    <p><input type="button" value="添加" @click="add"></p>

    <!--01-->
    <p v-for="one in list">{{now}}</p>
========================================
    <!--02-->
    <!--<p v-for="one in list">{{now()}}</p>-->



</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.15/vue.js"></script>
<script src="index.js"></script>

</html>