<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03-vue-instance-property</title>
</head>
<body>

<div id="app">

    <h3>Input[type=checkbox]</h3>
    <input type="checkbox" v-model="sport" value="足球"/>足球
    <input type="checkbox" v-model="sport" value="篮球"/>篮球
    <input type="checkbox" v-model="sport" value="羽毛球"/>羽毛球
    <input type="checkbox" v-model="sport" value="游泳"/>游泳
    <p>{{sport}}</p>

    
</div>

</body>
<script src="https://cdn.bootcss.com/vue/2.5.15/vue.js"></script>
<script src="index.js"></script>

</html>