<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03-vue-instance-property</title>
</head>
<body>

<div id="app">
    <input v-model="age">
    <input type="button" value="报名" v-bind:disabled="age<18"
           v-bind:class="btn">

    ========================================
    <br>

    <input type="checkbox" v-model="styleObject.active">  active

    <input type="checkbox" v-model="styleObject.danger">  danger

    <div v-bind:class="styleObject">v-bind  object</div>

    
</div>

</body>
<script src="https://cdn.bootcss.com/vue/2.5.15/vue.js"></script>
<script src="index.js"></script>

</html>